
{%extends 'base.html'%}
{%load static%}
{%block body%}

<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card p-3 mt-5">
                <form method="post" action="" enctype="multipart/form-data" >
                    {%csrf_token%}

                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <center><h1>REGISTER</h1></center>
                        </div>
                       
                        <div class="col-md-6 mt-3">
                            <label >
                                Teacher Name
                            </label>
                            <input type="text" name="teacher_name" class="form-control">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label >
                                
                            </label>
                            <input type="text" name="batch" class="form-control">
                        </div>
                        
                        <div class="col-md-12 mt-3">
                            <label >
                                Email
                            </label>
                            <input type="text" name="email" class="form-control">
                        </div>
                          <div class="col-md-12 mt-3">
                            <label >
                            Department Name
                            </label>
                            <select class="form-control" aria-label="Default select example" name="dept_name">
                                <option selected>Select</option>
                                <option value="MCA">MCA</option>
                                <option value="MBA">MBA</option>
                                <option value="CSEM">CSE(MTECH)</option>
                              </select>
                        </div>
                        
                        <div class="col-md-12 mt-3">    
                            <button type="submit" class="btn btn-primary">REGISTER</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>

{%endblock%}
